body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    font-family: monospace;
    text-align: center;
    font-size: 50px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#mainNumber {
    text-align: center;
    color: red;
    font-size: 100px;
}


.button-group {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 10px;
    }

.button-group button {
  padding: 15px 25px;
  background-color: lightseagreen;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
